@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*, *::before, *::after {
    font-family: 'Orbitron', sans-serif, 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    font-family: 'Orbitron', sans-serif, 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to left, silver, steelblue);
    color: whitesmoke;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 28px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.751);
    margin: 40px;
    color: whitesmoke;
}

footer {
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 0.5px rgba(0, 0, 0, 0.751);
/*     bottom: 0;
    left: 0;
    right: 0;
    height:100px; */
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.miniC {
    max-width: 50px;
}

.containerino {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    min-Width: 250px;
    max-Width: 370px; 
    margin: 0 auto;
}

#todolist {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;
}

#todolist li {
    border-bottom: 1.2px solid whitesmoke;
    padding: 5px;
    cursor: pointer;
    min-width: 250px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

li, .fl, .fr, .cross {
    max-height: 50px;
}

li.completed {
    text-decoration: line-through;
}

.fl, .fr {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.completed::after {
    content: '\2611';
    color: greenyellow;
    font-size: 30px;
    padding: 2px;
}

.uncompleted::after {
    content: '\2610';
    color: greenyellow;
    font-size: 30px;
    padding: 2px;
}

.cross {
   min-height: 80px;
}
.cross::after {
    content: '\02A2F';
    color: rgb(200, 0, 0);
    font-size: 44px;
    align-self: center;
    max-height: 45px;
}